@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@100..900&display=swap');

body{
    background-color: black;
    color:white;
    display: flex;
    font-family: "Noto Sans Symbols", sans-serif;
    font-size: 15px;
}

main{
    display: flex;
    overflow-y:auto;
}

aside{
    border-right: 1px solid rgb(40, 40, 40);
    padding-right: 88px;
    height: 100vh;
    max-height: 100%;
    position: fixed;
}

#logo{
    padding-left: 15px;
    margin-top: 32px;
    margin-bottom: 25px;
}

.menu-item.casa{
    align-items: center;
    padding-top:0px;
}

.menu-item{
    display: flex;
    gap: 15px;
    padding-left: 15px;
    padding-top: 5px;
    line-height: 1.4;   
}

.menu-item.foto{
    align-items: center;
    padding-top:5px;
}

.menu-item.foto img{
    height: 25px;
    width: 25px;
    border-radius: 50px;
}

#menu-link{
    margin-top: 270px;
}

main #esquerda{
    margin-left: 565px;
    margin-top: 15px;
    font-size: 13px;
}

main #direita{
    margin-left: 80px; 
    margin-top: 30px;
}

#story{
    display: flex;
    gap: 10px;
}

.story-item img{
    display: flex;
    margin-right: 3px;
    height: 62px;
    width: 62px;
    border-radius: 50px;
    border:3px solid transparent;
    background: padding-box, linear-gradient(210deg, #C13584, #9B4F96, #D5006C, #E4A300, #F58529) border-box;    
}

.story-item p{
    font-size: 10px;
    text-align: center;
    margin-top: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70px;
    padding-bottom: 10px;
}

#header{
    display:flex;
    gap: 5px;
    align-items: center;
    margin-left: 75px;
}

.header.foto{
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

.header.foto.story{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border:3px solid transparent;
    background: padding-box, linear-gradient(210deg, #C13584, #9B4F96, #D5006C, #E4A300, #F58529) border-box;    
}

.header.username{
    text-align: center;
    margin-left: 5px;
}

.header.tempo{
    color: grey;
}
#menu-1{
    margin-left: 285px;
}

#menu-2{
    margin-left: 247px;
}
.post-image{
    height: 468px;
    width: 468px;
    margin-left: 75px;
    border-width: 1px;
    border-radius: 1%;
    border-style: solid;
    border-color: rgb(40, 40, 40);
}

#footer{
    display: flex;
    gap: 15px;
    padding: 5px;
    margin-left: 70px;
}

#favorito{
    margin-left: 330px;
}

#interacao{
    align-items: center;
    display:flex; 
    gap:3px;
    margin-top: 5px;
    margin-left: 75px;
}

#interacao img{
    height: 15px;
    width: 15px; 
    border-radius: 50px;
}

#interacao p{
    font-weight: 500;
    padding-left: 2px;
}

.descricao{
    display: flex;
    gap: 5px;
    margin-left: 75px;
    line-height: 0;   
    padding-bottom: 10px;
}

.descricao-user{
    margin-top: auto;
    margin-left: 75px;
    margin-bottom: auto;
}

#ver-comentario{
    color: grey;
    margin-left: 75px;

}

#traducao{
    margin-top: auto;
    margin-left: 75px;
}

#comentario{
    display: flex;
    align-items: center;
    gap: 5px;
}

#add{
    margin: 0;
    color: grey;
    margin-left: 75px;
}

#emoji{
    margin-left:300px;
}

.separador{
    border-bottom: rgb(125, 125, 125);
    border-right:  rgb(125, 125, 125);
    border-color: rgb(125, 125, 125);
    width: 475px;
    margin-left: 70px;
}

#titulo{
    display: flex;
}

#titulo-sugestoes{
    color: rgb(156, 156, 156);
    font-size: 13px;
    font-weight: 700;
}

#titulo-expandir{
    margin-left: auto;
    font-size: 12px;
    font-weight: 500;
}

#perfil{
    display: flex;
    gap: 10px;
}

.perfil-foto{
    height: 45px;
    width: 45px;
    border-radius: 50px;
    margin-bottom: 15px;
}   

.perfil-nome{
    display: flex;
    gap: 5px;
    align-items:baseline;
}

.perfil-nickname{
    margin-bottom: 0;
    margin-top: 0;
    padding: 0px;
    font-size: 13px;
    font-weight: 500;
    height:1.3em;
}  

.perfil-footer{
    margin: 0;
    font-size: 12px;
    color: grey;
    height:1.3em;
}

.perfil-interacao{
    color: #008eea;
    margin-left: auto;
    margin-top: 0;
    font-size: 12px;
}

#informacoes-site{
    font-size: 11px;
    color: grey;
}