@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@100..900&display=swap');

body{
    background-color: #000000;
    color:#ffffff;
    display: flex;
    font-family: "Noto Sans Symbols", sans-serif;
    font-size: 15px;
}

main{
    display: flex;
    overflow-y:auto;
}

aside{
    border-right: 1px solid #282828;
    padding-right: 88px;
    height: 100vh;
    max-height: 100%;
    position: fixed;
}

#logo{
    padding-left: 15px;
    margin-top: 32px;
    margin-bottom: 25px;
}

.menu-item{
    cursor: pointer;
    display: flex;
    gap: 15px;
    padding-left: 15px;
    padding-top: 5px;
    line-height: 1.4;
    align-items: center;
}

.menu-item.casa{
    align-items: center;
    padding-top:0px;
}

.menu-item img{
    width: 24px;
}

.menu-foto{
    height: 25px;
    width: 25px;
    border-radius: 50px;
}
#menu-baixo{
    margin-top: 270px;
}

main #esquerda{
    margin-left: 565px;
    margin-top: 15px;
    font-size: 13px;
}

main #direita{
    margin-left: 80px; 
    margin-top: 30px;
}

#story{
    display: flex;
    gap: 10px;
}

.story-item img{
    cursor: pointer;
    display: flex;
    margin-right: 3px;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border:3px solid transparent;
    background: padding-box, linear-gradient(210deg, #C13584, #9B4F96, #D5006C, #E4A300, #F58529) border-box;
}

.story-item p{
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    margin-top: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70px;
}

#header{
    display:flex;
    gap: 5px;
    align-items: center;
    margin-left: 75px;
    margin-top: 10px;
}

.header.foto{
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

.header.foto.story{
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border:3px solid transparent;
    background: padding-box, linear-gradient(210deg, #C13584, #9B4F96, #D5006C, #E4A300, #F58529) border-box;    
}

.header.username{
    cursor: pointer;
    text-align: center;
    margin-left: 5px;
}

.header.tempo{
    cursor: pointer;
    color: #808080;
}
#menu-opcao{
    cursor: pointer;
    margin-left: 285px;
}

#menu-2{
    margin-left: 247px;
}
.post-image{
    height: 468px;
    width: 468px;
    margin-left: 75px;
    border-width: 1px;
    border-radius: 1%;
    border-style: solid;
    border-color: #282828;
}

#footer{
    display: flex;
    gap: 15px;
    padding: 5px;
    margin-left: 70px;
}

#footer img{
    cursor: pointer;
    width: 24px;
}
#favorito{
    margin-left: 330px;
    width: 24px;
}

#interacao{
    align-items: center;
    display:flex; 
    gap:3px;
    margin-top: 5px;
    margin-left: 75px;
}

#interacao img{
    cursor: pointer;
    height: 15px;
    width: 15px; 
    border-radius: 50px;
}

#interacao p{
    cursor: pointer;
    font-weight: 500;
    padding-left: 2px;
    height:1.3em;
}

.perfil-seguir:hover{
    color: #e0f1ff;
    cursor: pointer;
}

.descricao{
    display: flex;
    gap: 5px;
    margin-left: 75px;
    line-height: 0;   
    padding-bottom: 10px;
}

.descricao-user{
    margin-top: auto;
    margin-left: 75px;
    margin-bottom: auto;
}

#ver-comentario{
    cursor: pointer;
    color: #808080;
    margin-left: 75px;

}

#traducao{
    cursor: pointer;
    margin-top: auto;
    margin-left: 75px;
}

#comentario{
    display: flex;
    align-items: center;
    gap: 5px;
}

#comentario textarea{
    width: 415px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
    resize: none;
    outline: none;
    height:2.1em;
    font-family: "Noto Sans Symbols", sans-serif;
}

.comentar{
    margin: 0;
    color: #808080;
    margin-left: 75px;
}

.emoji{
    cursor: pointer;
    margin-left:30px;
}

.separador{
    border-bottom: #7d7d7d;
    border-right:  #7d7d7d;
    border-color: #7d7d7d;
    width: 475px;
    margin-left: 70px;
}

#direita{
    max-width: 290px;
}

#titulo{
    display: flex;
}

#titulo-sugestoes{
    color: #999999;
    font-size: 13px;
    font-weight: 700;
    margin-top: 0;
}

#titulo-expandir{
    font-size: 12px;
    font-weight: 500;
    margin-top: 0;
    margin-left: auto;
}

#titulo-expandir:hover{
    cursor: pointer;
    color: #808080;
}

#perfil{
    display: flex;
    gap: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.perfil-foto{
    cursor: pointer;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    margin-bottom: 15px;
}   

.perfil-nome{
    display: flex;
    gap: 5px;
    align-items:baseline;
}

.perfil-nickname{
    margin-bottom: 0;
    margin-top: 0;
    padding: 0px;
    font-size: 13px;
    font-weight: 500;
    height:1.3em;
    cursor: pointer;    
}  

.perfil-footer{
    margin: 0;
    font-size: 12px;
    color: #999999;
    height:1.3em;
}

.perfil-seguir{
    color: #0095F6;
    margin-left: auto;
    margin-top: 0;
    font-size: 12px;
    height:1.3em;
}

#informacoes-site{
    font-size: 11px;
    color: #808080;
    padding-top: 10px;
}

#informacoes-site a{
    cursor: pointer;
    text-decoration: none;
    color: #808080;
    display: inline;
}

#informacoes-site a:hover{
    text-decoration: underline;
}